<main>

    <section class="preview">
        preview
    </section>

    <form class="form" action="">

        <fieldset class="form__design">

          <h2 class="form__design--title">Diseña</h2>
          <i></i>
          <div>

            <label for="">Colores</label>
            <ul>
                <li class="first-color">
                    <input checked="true" id="palette" type="radio">
                    <div class="colorOne">uno</div>
                    <div class="colorTwo">dos</div>
                    <div class="colorThree">tres</div>


                </li>

                <li class="second-color">
                    <input checked="true" id="palette" type="radio">
                    <div class="colorOne">cuatro</div>
                    <div class="colorTwo">cinco</div>
                    <div class="colorThree">seis</div>

                </li>

                <li class="second-color">
                    <input checked="true" id="palette" type="radio">
                    <div class="colorOne">siete</div>
                    <div class="colorTwo">ocho</div>
                    <div class="colorThree">nueve</div>

                </li>

            </ul>

          </div>
          

        </fieldset>

        <fieldset class="form__fill">

            <h2 class="form__fill--title">Rellena</h2>

            

        </fieldset>
        <fieldset class="form__share">

            <h2 class="form__share--title">Comparte</h2>

        </fieldset>



    </form>


</main>