<main class="preview-main"> 
    <section class="preview">
      <button class="preview__button"><span><i class="far fa-trash-alt"></i></span>Reset</button>
      <div class="preview__background">
        <div class="preview__card">
          <div class="preview__card--name">
            <h3 class="preview__card--name name">Nico Cage</h3>
            <h4 class=" preview__card--name profession">Actor</h4>
        </div>
          <div class="preview__card--img"></div>
          <div class="preview__card--icons">
            <div class="card-icons">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="card-icons">
              <i class="far fa-envelope"></i>
            </div>
            <div class="card-icons">
              <i class="fab fa-linkedin-in"></i>
            </div>
            <div class="card-icons">
              <i class="fab fa-github-alt"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <form class="form" action="">
    <fieldset class="form__design">
      <div class="form__design--sect">
        <i class="far fa-object-ungroup"></i>
        <h2 class="form__design--title">Diseña</h2>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="form__design--container">
        <label for="colores" class="form__design--subtitle">Colores</label>
        <ul class="form__design--list">
          <include src="./form-palette.html" colorNumber="first__color" checked="checked"> </include>
          <include src="./form-palette.html" colorNumber="second__color" > </include>
          <include src="./form-palette.html" colorNumber="third__color" > </include>
          <include src="./form-palette.html" colorNumber="fourth__color" > </include>
        </ul>
      </div>
    </fieldset>

    <fieldset class="form__fill">
      <div class="form__fill--sect">
        <i class="far fa-keyboard"></i>
        <h2 class="form__fill--title">Rellena</h2>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="form__fill--div">
        <label for="name">Nombre completo</label>
        <input
          class="contact__form--name"
          placeholder="Ej: Sally Jill"
          id="name"
          type="text"
          name="fill_name"
          required="obligatorio"
        />

        <label for="job">Puesto</label>
        <input
          class="contact__form--job"
          placeholder="Ej: Front-end unicorn"
          id="job"
          type="text"
          name="fill_job"
          required="obligatorio"
        />

        <label class="form__fill--prftext">Imagen de perfil</label>

        <div class="form__image">
          <button class="form__btnimg">Añadir imagen</button>
          <div class="form__square"></div>
        </div>

        <label for="phoneNumber">Email</label>
        <input
          class="contact__form--mail"
          placeholder="Ej: nombre.apellidos@mail.com"
          id="mailAddress"
          type="mail"
          name="mail"
          title="Por favor, introduzca un email válido"
          pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[.][a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          required
        />
        <label for="phoneNumber">Teléfono</label>
        <input
          class="contact__form--phone"
          placeholder="Ej: 123456789"
          id="phoneNumber"
          type="tel"
          name="phoneNumber"
          pattern="^[6-7-9]{1}[0-9]{8}$"
          title="Por favor, introduce un número de teléfono fijo o móvil de España "
        />
        <label for="linkedin">Linkedin</label>
        <input
          class="contact__form--linkedin"
          placeholder="Ej: linkedin.com/in/ada.lovelace"
          id="linkedin"
          type="linkedin"
          name="linkedin"
          pattern="^\b([A-ZÀ-ÿ][-,a-z ']+[ ]*)+$"
          title="Por favor, introduzca su cuenta de linkedin"
        />
        <label for="phoneNumber">Github</label>
        <input
        class="contact__form--github"
        placeholder="Ej: @Ada-Lovelace"
        id="github"
        type="github"
        name="github"
        pattern="^\b([A-ZÀ-ÿ][-,a-z ']+[ ]*)+$"
        title="Por favor, introduzca su cuenta de Github"
        />
      </div>
    </fieldset>
    <fieldset class="form__share">
      <div class="form__share--sect">
        <i class="fa fa-share-alt"></i>
        <h2 class="form__share--title">Comparte</h2>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="form__share--button">
        <button href="#" id="button-card">
          <i class="far fa-address-card"></i>
          <span>Crear tarjeta</span>
        </button>
      </div>
      <div class="form__share--created hidden" id="share-card">
        <h4>La tarjeta ha sido creada:</h4>
        <a href="#">https://awesome-profile-card.com?id=A456DF0001</a>
        <a href="#" class="twitter" target="_blank">
          <i class="fab fa-twitter"></i>
          Compartir en twitter
        </a>
      </div>
    </fieldset>
  </form>
</main>
