<main class="preview-main">
  <section class="preview">
    <button class="preview__button" type="reset"><span><i
          class="far fa-trash-alt"></i></span>Reset</button>
    <div class="preview__background">
      <div class="preview__card">
        <div class="preview__card--name">
          <div class="line-palette js__line-palette"></div>
          <h3 class="preview__card--name name">Nico Cage</h3>
          <h4 class=" preview__card--name profession">Actor</h4>

        </div>
        <div class="preview__card--img js__profile-image"></div>
        <div class="preview__card--icons">
          <div class="card-icons js-iconBorder">
            <a class="linkPhone" href=""><i
                class="fas fa-mobile-alt js-icon"></i></a>
          </div>
          <div class="card-icons js-iconBorder">
            <a href="mailto:someone@example.com" class="js-email">
              <i class="far fa-envelope js-icon"></i>
            </a>
          </div>
          <div class="card-icons js-iconBorder">
            <a class="linkedin-js" href="https://www.linkedin.com/" target="_blank"><i
                class="fab fa-linkedin-in js-icon"></i></a>
          </div>
          <div class="card-icons js-iconBorder">
            <a href="" class="github-js" href="https://www.github.com/" target="_blank"><i
                class="fab fa-github-alt js-icon"></i></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <form class="form" action="">
    <fieldset class="form__design form-js">
      <div class="form__design--sect form-title-js">
        <i class="far fa-object-ungroup"></i>
        <h2 class="form__design--title">Diseña</h2>
        <i class="fas fa-chevron-up js-arrow"></i>
      </div>
      <div class="form__design--container form-container-js">
        <label for="colores" class="form__design--subtitle">Colores</label>
        <ul class="form__design--list">
          <include src="./form-palette.html" colorNumber="first__color" checked="checked"> </include>
          <include src="./form-palette.html" colorNumber="second__color" > </include>
          <include src="./form-palette.html" colorNumber="third__color" > </include>
         
        </ul>
      </div>
    </fieldset>

    <fieldset class="form__fill form-js collapsed">
      <div class="form__fill--sect form-title2-js collapsed">
        <i class="far fa-keyboard"></i>
        <h2 class="form__fill--title">Rellena</h2>
        <i class="fas fa-chevron-up js-arrow js-arrow-down"></i>
      </div>
      <div class="form__fill--div form-container-js">
        <label class="label" for="name">Nombre completo</label>
        <input minlength="2" maxlength="16" class="contact__form--name js-input"
          placeholder="Ej: Sally Jill" id="name" type="text" name="fill_name"
          required />

        <label class="label" for="job">Puesto</label>
        <input class="contact__form--job js-input"
        minlength="2" maxlength="16"
          placeholder="Ej: Front-end unicorn" id="job" type="text"
          name="fill_job" required />

        <label class="label" class="form__fill--prftext">Imagen de
          perfil</label>

        <div class="form__image">
          <label for="photo" class="form__btnimg js__profile-trigger">Añadir
            imagen</label>
          <input type="file" class="js__profile-upload-btn hidden" name="photo"
            id="photo">
          <div class="form__square js__profile-preview"></div>
        </div>

        <label class="label" for="email">Email</label>
        <input class="contact__form--mail js-input"
          placeholder="Ej: nombre.apellidos@mail.com" id="email" type="mail"
          name="email" title="Por favor, introduzca un email válido"
          pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[.][a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
          required />
        <label class="label" for="phone">Teléfono</label>
        <input class="contact__form--phone js-input" placeholder="Ej: 123456789"
          id="phone" type="tel" name="phone" />
        <label class="label" for="linkedin">Linkedin</label>
        <input class="contact__form--linkedin js-input"
          placeholder="Ej: ada.lovelace" id="linkedin" type="linkedin"
          name="linkedin" size="30"
          title="Por favor, introduzca su cuenta de linkedin" />
        <label class="label" for="github">Github</label>
        <input class="contact__form--github js-input github-js"
          placeholder="Ej: Ada-Lovelace" id="github" type="github" name="github"
          title="Por favor, introduzca su cuenta de Github" />
      </div>
    </fieldset>
    <fieldset class="form__share form-js collapsed">
      <div class="form__share--sect form-title3-js ">
        <i class="fa fa-share-alt"></i>
        <h2 class="form__share--title">Comparte</h2>
        <i class="fas fa-chevron-up js-arrow js-arrow-down"></i>
      </div>
      <div class="form__share--button form-container-js">
        <!-- <input type="submit" value="Crear tarjeta" id="button-card"> -->
        
         <button type = submit href="#" id="button-card">
          <i class="far fa-address-card"></i>
          <span>Crear tarjeta</span>
        </button>
      </div>
      <div class="form__share--created hidden" id="share-card">
        <h4>La tarjeta ha sido creada:</h4>
        <a href="#" class="card-link" target="_blank"></a>
        <a href="#" class="twitter" target="_blank">
          <i class="fab fa-twitter"></i>
          Compartir en twitter
        </a>
      </div>
    </fieldset>
  </form>
</main>