<section class="information">
  <h1 class="information-title">Crea tu tarjeta de visita</h1>
  <p class="information-subtitle">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
</section>
<section class="main__icons">
  <div class="main__iconsGroup">
    <span class="main__iconsItem"> <i class="far fa-object-ungroup"></i></span>
    <span class="main__iconsSubtitle">Diseña</span>
  </div>
  <div class="main__iconsGroup">
    <span class="main__iconsItem"> <i class="far fa-keyboard"></i></span>
    <span class="main__iconsSubtitle">Rellena</span>
  </div>
  <div class="main__iconsGroup">
    <span class="main__iconsItem"> <i class="fas fa-share-alt"></i></span>
    <span class="main__iconsSubtitle">Comparte</span>
  </div>
</section>
<div class="main__button">
  <a class="main__buttonText" href="./card-generator.html">Comenzar</a>
</div>
