<section class="main__information">
  <h1 class="main__informationTitle">Crea tu tarjeta de visita</h1>
  <p class="main__informationSubtitle">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
</section>

<section class="main__icons">
  <div class="main__iconsGroup">
    <i class="main__iconsItem far fa-object-ungroup"></i>
    <span class="main__iconsSubtitle">Diseña</span>
  </div>
  <div class="main__iconsGroup">
    <i class="main__iconsItem  far fa-keyboard"></i>
    <span class="main__iconsSubtitle">Rellena</span>
  </div>
  <div class="main__iconsGroup">
    <i class="main__iconsItem fa fa-share-alt"></i>
    <span class="main__iconsSubtitle">Comparte</span>
  </div>
</section>
<div class="main__button">
  <a class="main__buttonText" href="./card-generator.html">Comenzar</a>
</div>
