<main>
  <section class="information">
    <img src="./assets/images/logo-awesome-profile-cards.svg" />
    <h1 class="information-title">Crea tu tarjeta de visita</h1>
    <p class="information-subtitle">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="call-to-action">
    <ul class="icon-list">
      <li class="icon">
        <span class="far fa-keyboard"></span>
        <span>Diseña</span>
      </li>
      <li class="icon">
        <span class="far fa-keyboard"></span>
        <span>Rellena</span>
      </li>
      <li class="icon">
        <span class="far fa-keyboard"></span>
        <span>Comparte</span>
      </li>
    </ul>
    <a class="start-link" href="./card-generator.html">
      <button class="start">comenzar</button>
    </a>
  </section>
</main>
