.preview {
  background: linear-gradient(#bfcdd0, #dde9ed);
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__button {
    display: flex;
    width: 75px;
    height: 30px;
    background-color: rgba($color: #00000000, $alpha: 0);
    border: solid 1px white;
    border-radius: 15px;
    text-transform: uppercase;
    color: #54585a;
    font-family: $font-main;
    font-size: 12px;
  }
  &__card {
    width: 240px;
    height: 329px;
    border: solid 1px;
    border-radius: 2px;

    &--name {
      background-color: white;
    }
    &--img {
      background-image: url("https://www.placecage.com/200/300");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 240px;
      height: 200px;
    }
    &--icons {
      background-color: white;
    }
  }
}

.form {
  &__fill,
  &__share {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 20px 30px;
    width: 100%;

    &--sect {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      & i.far {
        color: $dull-orange;
        padding: 20px;
        padding-right: 10px;
        font-size: 22px;
      }
      & i.fas {
        color: $gunmetal;
        position: absolute;
        right: 20px;
      }
    }

    &--title {
      font-family: $font-main;
      font-size: 22px;
      text-transform: uppercase;
      color: $gunmetal;
      display: inline;
    }

    &--button {
      padding: 25px;
      text-align: center;
      width: 100%;
      & button {
        background-color: $dull-orange;
        border: none;
        border-radius: 12px;
        padding: 17px 25px;
        color: white;
        &:hover {
        }
        & i.far {
          color: white;
          padding: 0;
          padding-right: 10px;
          font-size: 22px;
        }
        & span {
          text-transform: uppercase;
          font-size: 20px;
        }
      }
    }

    &--created {
      padding:35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h4 {
        color: $gunmetal;
        font-size: 24px;
        margin-bottom:9px;
      }
      & a {
        color: $dull-orange;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      & a.twitter {
        margin: 20px;
        padding: 17px 25px;
        color: white;
        background-color: #00a0f5;
        border-radius: 5px;
        font-size: 20px;
        text-decoration: none;
        & i.fab {
          margin-right: 10px;
        }

       
      }
    }

    &--div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin-left: 20px;

      & label {
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: $font-main;
        font-size: 14px;
        color: $dark-green-blue;
      }

      & input {
        width: 95%;
        height: 30px;
        border: #a2deaf 1px solid;
      }
    }
  }

  &__image {
    display: flex;
  }

  &__btnimg {
    background-color: chocolate;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 140px;
    color: white;
  }

  &__square {
    width: 30px;
    height: 30px;
    border: #a2deaf 1px solid;
    margin-left: 20px;
  }
}


// .far {
//   color: orange;
//   padding: 20px;
// }

// .fas {
//   color: gray;
//   justify-content: flex-end;
//   left: 200px;
// }
