.preview-main {
  @include tablet {
    background: linear-gradient(#f5f5f5, #ffffff);
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0 40px 0;
  }
}
.preview {
  background: linear-gradient(#bfcdd0, #dde9ed);
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    border-radius: 6px;
    padding-bottom: 267px;
    width: 329px;
    height: 826px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 585px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    width: 75px;
    height: 30px;
    background-color: rgba($color: #00000000, $alpha: 0);
    border: solid 1px white;
    border-radius: 15px;
    text-transform: uppercase;
    color: #54585a;
    font-family: $font-main;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    transform: translateX(-80px);

    @media (min-width: 768px) {
      margin-top: 180px;
    }

    .far {
      padding: 5px 8px 5px 10px;
      color: #54585a;
    }
  }
  &__card {
    width: 240px;
    height: 329px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

    &--name {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding-top: 21px;
      height: 75px;
      .name {
        height: 20px;
        width: 206px;
        display: inline;
        color: $dark-green-blue;
        font-size: 18px;
        font-family: $font-title-preview;
        font-weight: bold;
        padding: 0px;
        // border-left: 5px solid $dirty-blue;
        padding-left: 15px;
      }
      .profession {
        color: $gunmetal;
        font-family: $font-title-preview;
        font-size: 16px;
        padding: 4px 0px;
        height: 20px;
        width: 168px;
        // border-left: 5px solid $dirty-blue;
        padding-left: 15px;
      }
    }
    &--img {
      background-image: url("https://www.placecage.com/gif/200/300");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 240px;
      height: 200px;
    }
    &--icons {
      background-color: white;
      height: 54px;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .card-icons {
      border: #a2deaf 2px solid;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      & i {
        color: $dark-green-blue;
      }
    }
  }
}

.form {
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 40%;
  }
  // fieldset completo diseña
  &__design {
    // subtítulo colores
    &--subtitle {
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-main;
      color: $gunmetal;
      margin-left: 30px;
      @include tablet {
        margin-left: 0;
      }
    }
    // contenedor subtítulo + paletas
    &--container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    // lista de paletas
    &--list {
      list-style-type: none;
    }
    // cada cubo de color
    & .colorOne,
    .colorTwo,
    .colorThree {
      display: inline-block;
      height: 25px;
      width: 30px;
    }
    // bloque de cubos de colores, todos
    .list {
      &__palette {
        display: flex;
        margin-bottom: 20px;
      }
      &__radio {
        margin-right: 10px;
        transform: scale(1.4) translateY(30%);
      }
    }
    // bloque color 1
    .first__color {
      @include palette($dark-green-blue, $dirty-blue, $hospital-green);
    }
    // bloque color 2
    .second__color {
      @include palette(#420101, #bd1010, #e95626);
    }
    // bloque color 3
    .third__color {
      @include palette(#3e5b65, #eab052, #a0c0cf);
    }
    // bloque color 4
    .fourth__color {
      margin-bottom: 0px;
      @include palette(rgb(94, 15, 94), #31d8c6, #b1eee8);
    }
  }
  &__design,
  &__fill,
  &__share {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: $white-two 1.5px solid;
    margin-left: 20px;
    margin-right: 20px;

    @include tablet {
      margin-left: 0px;
      margin-right: 30px;
    }

    &--sect {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr 4fr;
      grid-template-rows: 1fr;
      & i.far,
      & i.fa {
        color: $dull-orange;
        padding: 20px 10px 20px 0;
        font-size: 18px;
        margin: auto 0;
      }
      & i.fas {
        color: $gunmetal;
        text-align: right;
        margin: auto 0 auto;
      }
    }

    &--title {
      font-family: $font-main;
      font-size: 18px;
      text-transform: uppercase;
      color: $gunmetal;
      font-weight: 600;
      display: inline;
      margin: auto 0;
    }

    &--button {
      padding: 25px;
      text-align: center;
      width: 100%;
      & button {
        background-color: $dull-orange;
        border: none;
        border-radius: 12px;
        padding: 13px 20px;
        color: white;
        &:hover {
          cursor: pointer;
        }
        & i.far {
          color: white;
          padding: 0;
          padding-right: 10px;
          font-size: 20px;
        }
        & span {
          text-transform: uppercase;
          font-size: 18px;
        }
      }
      & button.unabled {
        background-color: $white;
        border: none;
        border-radius: 12px;
        padding: 13px 20px;
        color: white;
        &:hover {
          cursor: auto;
        }
      }
    }

    &--created {
      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: $white-two 1.5px solid;

      & h4 {
        color: $gunmetal;
        font-size: 24px;
        margin-bottom: 9px;
        text-align: center;
      }
      & a {
        color: $dull-orange;
        text-decoration: none;
        text-align: center;
        &:hover {
          text-decoration: underline;
        }
      }
      & a.twitter {
        margin: 15px;
        padding: 8px 15px;
        color: $white-two;
        background-color: #00a0f5;
        border-radius: 5px;
        font-size: 18px;
        text-decoration: none;
        & i.fab {
          margin-right: 10px;
        }
      }
    }

    &--div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding-bottom: 30px;
      // margin-left: 20px;

      & .label {
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: $font-main;
        font-size: 14px;
        color: $dark-green-blue;
      }

      & input {
        width: 100%;
        height: 30px;
        border: #a2deaf 1px solid;
      }
    }
  }

  &__share {
    margin-bottom: 30px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btnimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dull-orange;
    border-radius: 3px;
    height: 30px;
    width: 140px;
    color: white;
    font-size: 14px;

    &:hover {
      background-color: $dark-green-blue;
      cursor: pointer;
    }
  }

  &__square {
    width: 30px;
    height: 30px;
    border: #a2deaf 1px solid;
    margin-left: 20px;
    background-size: contain;
  }
}

.line-palette {
  position: absolute;
  margin: 0px 15px 10px 0px;
  width: 5px;
  height: 45px;
  background-color: $dirty-blue;
}

// JS CSS
.collapsed .form-container-js {
  display: none;
}
.js-arrow-down {
  transform: scaleY(-1);
}

.hidden {
  display: none;
}

.preview__card--name .color2 {
  color: #bd1010;
}