.preview-main {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.preview {
  background: linear-gradient(#bfcdd0, #dde9ed);
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  @media (min-width: 768px) {
    padding-bottom: 267px;
    height: 826px;
    margin-right: 40px;
    margin-left: 30px;
    width: 329px;
  }

  &__button {
    display: flex;
    width: 75px;
    height: 30px;
    background-color: rgba($color: #00000000, $alpha: 0);
    border: solid 1px white;
    border-radius: 15px;
    text-transform: uppercase;
    color: #54585a;
    font-family: $font-main;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    transform: translateX(-80px);

    @media (min-width: 768px) {
      margin-top: 180px;
    }

    .far {
      padding: 5px 8px 5px 10px;
      color: #54585a;
    }
  }
  &__card {
    width: 240px;
    height: 329px;
    margin-top: 20px;

    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

    &--name {
      background-color: white;
      padding-top: 21px;
      height: 75px;
      padding-left: 15px;

      .name {
        height: 20px;
        width: 206px;
        display: inline;
        color: $dark-green-blue;
        font-size: 18px;
        font-family: $font-title-preview;
        font-weight: bold;
        padding: 0px;
      }
      .profession {
        color: $gunmetal;
        font-family: $font-title-preview;
        font-size: 16px;
        padding: 4px 0px;

        height: 20px;
        width: 168px;
      }
    }
    &--img {
      background-image: url("https://www.placecage.com/g/200/300");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 240px;
      height: 200px;
    }
    &--icons {
      background-color: white;
      height: 54px;
    }
  }
}

.form {
  &__fill,
  &__share {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 20px 30px;
    width: 100%;

    &--sect {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      & i.far {
        color: $dull-orange;
        padding: 20px;
        padding-right: 10px;
        font-size: 22px;
      }
      & i.fas {
        color: $gunmetal;
        position: absolute;
        right: 20px;
      }
    }

    &--title {
      font-family: $font-main;
      font-size: 22px;
      text-transform: uppercase;
      color: $gunmetal;
      font-weight: 600;

      display: inline;
    }

    &--button {
      padding: 25px;
      text-align: center;
      width: 100%;
      & button {
        background-color: $dull-orange;
        border: none;
        border-radius: 12px;
        padding: 17px 25px;
        color: white;
        &:hover {
          cursor: pointer;
        }
        & i.far {
          color: white;
          padding: 0;
          padding-right: 10px;
          font-size: 22px;
        }
        & span {
          text-transform: uppercase;
          font-size: 20px;
        }
      }
      & button.unabled {
        background-color: $white;
        border: none;
        border-radius: 12px;
        padding: 17px 25px;
        color: white;
        &:hover {
          cursor: auto;
        }
      }
    }

    &--created {
      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h4 {
        color: $gunmetal;
        font-size: 24px;
        margin-bottom: 9px;
      }
      & a {
        color: $dull-orange;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      & a.twitter {
        margin: 20px;
        padding: 17px 25px;
        color: white;
        background-color: #00a0f5;
        border-radius: 5px;
        font-size: 20px;
        text-decoration: none;
        & i.fab {
          margin-right: 10px;
        }
      }
    }

    &--div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin-left: 20px;

      & label {
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: $font-main;
        font-size: 14px;
        color: $dark-green-blue;
      }

      & input {
        width: 95%;
        height: 30px;
        border: #a2deaf 1px solid;
      }
    }
  }

  &__image {
    display: flex;
  }

  &__btnimg {
    background-color: chocolate;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 140px;
    color: white;
  }

  &__square {
    width: 30px;
    height: 30px;
    border: #a2deaf 1px solid;
    margin-left: 20px;
  }
}

// .far {
//   color: orange;
//   padding: 20px;
// }

// .fas {
//   color: gray;
//   justify-content: flex-end;
//   left: 200px;
// }
