.main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icons {
    height: 74px;
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    border-radius: 4px;
    color: $gunmetal;
    font-size: 12.8px;
    padding: 15px 20px 10px 20px;
    &Group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &Item {
      color: $dull-orange;
      font-size: 22.4px;
    }
  }
  &__button {
    margin: 38px 0 30px;
    background-color: #438792;
    height: 42px;
    width: 129px;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    &Text {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font-main;
      font-size: 16px;
      padding: 15px;
      // font-weight: 600;
    }
  }
}

.information {
  margin: 35px 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .information img {
//   margin: 40px 0;
// }

.information-title {
  font-family: $font-titles;
  color: $dull-orange;
  font-size: 30px;
  font-weight: bold;
}

.information-subtitle {
  color: $dark-green-blue;
  font-size: 30px;
  text-align: center;
}

// .call-to-action {
//   margin: 0 35px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .icon-list {
//   display: flex;
// }

// .icon {
//   list-style: none;
//   padding: 20px;
// }

// .icon span {
//   display: block;
//   text-align: center;
// }

// .start {
//   margin: 30px;
// }
